<h1>{{name}}</h1>

<h1>{{name | lowercase}}</h1>

<h1>{{name | uppercase}}</h1>

<h1>{{name | titlecase}}</h1>

<h1>{{name | slice:10}}</h1>

<h1>{{today}}</h1>

<h1>{{today | date}}</h1>

<h1>{{today | date : 'short'}}</h1>

<h1>{{today | date : 'shortDate'}}</h1>

<h1>{{value}}</h1>

<h1>{{value | number : '1.2-3'}}</h1>

<h1>{{value | number : '4.4-3'}}</h1>

<h1>{{Institute}}</h1>

<h1>{{Institute | json}}</h1>

<h1>{{name | marvellouus : "PPA" : "LB" : "Angular"}}</h1>

<h1>{{name | marvellouus : "PPA"}}</h1>

<h1>{{name | marvellouus : "LB"}}</h1>

<h1>{{name | marvellouus : "angular"}}</h1>