<p>Marvellous Infosystem</p>

<h1 [style.color]="'red'">Marvelloues</h1>

<h1 [style.color]="'green'">Marvelloues</h1>

<h1 [style.color]="Mycolor">Marvelloues</h1>

<h1 [style.color]="Isset ? 'green' : 'red'">Marvelloues</h1>


<h1>Demonstration of class Binding</h1>

<h1 class = "success">Demonstration of class Binding</h1>

<h1 class = "failure">Demonstration of class Binding</h1>

<h1 [class] = "myclass">Demonstration of class Binding</h1>

<h1 [class.success] = "Isset">Demonstration of class Binding</h1>

<h1>Demonstration of event binding</h1>

<button (click) = "MyAction()">submit</button>

<h1>{{Data}}</h1>

<button (click) = "MyActionNew($event)">Newbutton</button>
